################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Phoneword/.vs/Phoneword/v15/Server/sqlite3
/Phoneword/Phoneword/Phoneword.iOS/obj/iPhone/Debug/App.xaml.g.cs
/Phoneword/Phoneword/Phoneword.iOS/obj/iPhone/Debug/MainPage.xaml.g.cs
/Phoneword/Phoneword/Phoneword.UWP/bin/x86/Debug/AppX/Assets
/Phoneword/Phoneword/Phoneword.UWP/bin/x86/Debug/AppX
/Phoneword/Phoneword/Phoneword.Android/bin/Debug/com.companyname.Phoneword.apk
/Phoneword/Phoneword/Phoneword.Android/bin/Debug/com.companyname.Phoneword-Signed.apk
